body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:463px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:0px;
  width:413px;
  height:779px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:779px;
}
#u1 {
  position:absolute;
  left:2px;
  top:382px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:79px;
  top:95px;
  width:360px;
  height:615px;
}
#u3 {
  position:absolute;
  left:79px;
  top:70px;
  width:360px;
  height:25px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u4 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:340px;
  top:720px;
  width:50px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
